    <style> 
      body {
        background-image: url("https://cdn.shopify.com/s/files/1/1468/9008/collections/Custom_Design_Diamond_Bezel_Dial_Watches_New_York_NYC_WatchGuyNYC_Rolex_Patek_Audemars_003_ae1c4566-b0a1-410f-a28e-6798c5e24de8.jpg?v=1523200180");
      
        background-repeat: no-repeat;
        background-size: cover;}


  
.image-box:hover img {
  box-shadow: 0 0 10px 5px whitesmoke;
}

.box {
  border:  1px solid whitesmoke;
  padding: 20px;
  border-radius: 5px;
 
}

.center-text {
  text-align: center;
  margin-bottom: 10px;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.left-text,
.center-text,
.right-text {
  flex-basis: 30%;
  text-align: center;
}
.the_nav{display: flex; justify-content: space-between; border: 1px solid whitesmoke; font: whitesmoke;}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image-box {display: flex; justify-content: center;}



        .border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
}
  .border {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }

  /*nav ul li a {color: #fff;}*/
.container {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
        .left-text,
.center-text,
.right-text {
  flex-basis: 30%;
  text-align: center;
}
.the_nav{display: flex; justify-content: space-between; border: 1px solid whitesmoke; font: whitesmoke;}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 1 1 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image-box {display: flex; justify-content: center;}



        .border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
}
  .border {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }

  /*nav ul li a {color: #fff;}*/
.container {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

      body {
        background-image: url("https://cdn.shopify.com/s/files/1/1468/9008/collections/Custom_Design_Diamond_Bezel_Dial_Watches_New_York_NYC_WatchGuyNYC_Rolex_Patek_Audemars_003_ae1c4566-b0a1-410f-a28e-6798c5e24de8.jpg?v=1523200180");
        color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;}
    li {
      color: whitesmoke;
    }
        .border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px;
}

.staff {
  max-width: 400px;
}
  iframe {
    align-items: center;
    align-content: center;
    float: center;
    justify-content: center;
  }
  .border {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }

  nav ul li a {color: #fff;}

      body {
        background-image: url("https://cdn.shopify.com/s/files/1/1468/9008/collections/Custom_Design_Diamond_Bezel_Dial_Watches_New_York_NYC_WatchGuyNYC_Rolex_Patek_Audemars_003_ae1c4566-b0a1-410f-a28e-6798c5e24de8.jpg?v=1523200180");
        color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;}
    li {
      color: whitesmoke;
    }
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#mainNav {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#iframe-container {
  display: flex;
  justify-content: center;
}

#iframe-container iframe {
  float: center;
  margin: 0 auto;
}

.rolex {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; max-width: 1200px; margin: 0 auto;}
.rolex1{
  max-width: 30%; margin-right: auto; margin-left: 0;
}
.rolex2{max-width: 30%; margin: 0 auto;}

.rolex3{max-width: 30%; margin-left: auto; margin-right: 0;}


.container {
  display: flex;
  flex-wrap: wrap;
}
  iframe {
    align-items: center;
    align-content: center;
    float: center;
    justify-content: center;
  }
.box {
  flex: 1 1 50%;
  padding: 20px;
  box-sizing: border-box;
}

.image-box {
  display: flex;
  justify-content: center;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
}

.left-text {
  flex: 1;
  text-align: left;
}

.center-text {
  flex: 1;
  text-align: center;
}

.right-text {
  flex: 1;
  align-items: center;
  text-align: right;
}
/* Added CSS code for hover effect */
.image-box:hover img {
  box-shadow: 0 0 10px 5px green;
}

@media screen and (max-width: 768px) {
  .box {
    flex: 1 1 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.box {
  border:  1px solid whitesmoke;
  padding: 20px;
  border-radius: 5px;
 
}

.center-text {
  text-align: center;
  margin-bottom: 10px;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.left-text,
.center-text,
.right-text {
  flex-basis: 30%;
  text-align: center;
}

/*navigation*/
.the_nav{display: flex; justify-content: space-between; border: 1px solid whitesmoke; font: whitesmoke;}


.the_nav_border{border: 1px solid whitesmoke;}

@media screen and (min-width: 576px){
    .grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"article sidebar";}
     #sidebar{
    display: none;}
    #sidebar2 {
    display: block;}
    .iframe{
    display: block;}

    footer::before {
    font-size:  32px;
    border:  2px solid whitesmoke;
    content: 'Viewing Mode: Mobile';
    display: block;
    background-color: white;
    color: black;
    padding: 10px;}}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"article sidebar";}
     #sidebar{
    display: none;}
    #sidebar2 {
    display: block;}
    .iframe{
    display: block;}

    footer::before {
    font-size:  32px;
    border:  2px solid whitesmoke;
    content: 'Viewing Mode: Tablet';
    display: block;
    background-color: white;
    color: black;
    padding: 10px;}}

/* CSS kicks in when the device width is 1024px and above */
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-areas:
      "article sidebar sidebar";}
    #sidebar {
      display:  block;
    }

    #sidebar2,#sidebar3 {
      display: none;}
    
    footer::before {
    font-size:  32px;
    border:  2px solid whitesmoke;
    content: 'Viewing Mode: Desktop';
    display: block;
    background-color: white;
    color: whitesmoke;
    padding: 10px;}



  
